*{
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 172, 172);
}
/*---------------career-section start-----------------------------*/

.career-section{

}
.content{
    margin-bottom: 30px;
  
}
.left-div{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.right-div{
    width: 100%;
    float: left;
}

/*---------------Education section start-----------------------------*/

.education-left{
    float: left;
    width: 30%;
    padding: 10px;
}
.education-left{
    float: left;
    width: 30%;
    padding: 10px;
}
.education-left{
    float: left;
    width: 30%;
    padding: 10px;
}
/*--------------------------------reference-section----------------------*/

#personal-section .content{
    max-width: 80%;
}

.reference-left{
    float: left;
    width: 45%;
    padding: 30px;
}
.reference-left{
    float: left;
    width: 40%;
    padding: 10px;
}