*{
    box-sizing: border-box;
}
body{
    background-color:  #e1e3f9 ;
   
}
.container{
    max-width: 100%;
    background-color:  #e1e3f9 ;
    margin: 0 auto;
    padding: 5px;
}
/*---------------Bio-section start-----------------------------*/
.bio{
    float: left;
    padding: 10px;
    max-width: 100%;
}

.contact{
    float: left;
    padding: 10px;
    max-width: 100%;
}

/*---------------career-section start-----------------------------*/

.career-section{

}
.content{
    margin-bottom: 30px;
  
}
.left-div{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.right-div{
    width: 100%;
    float: left;
}

/*---------------Education section start-----------------------------*/

.education-left{
    float: left;
    width: 30%;
    padding: 5px;
}
.education-left{
    float: left;
    width: 30%;
    padding: 5px;
}
.education-left{
    float: left;
    width: 30%;
    padding: 5px;
}
/*--------------------------------reference-section----------------------*/

#personal-section .content{
    max-width: 80%;
}

.reference-left{
    float: left;
    width: 50%;
    padding: 5px;
}
.reference-left{
    float: left;
    width: 50%;
    padding: 5px;
}
